<footer class="footer">
  <div
    class="container d-lg-flex align-items-center justify-content-lg-between py-lg-13 py-11"
  >
    <div>
      <img
        src="/assets/images/logo-white.png"
        alt="logo"
        style="width: 200px; height: 32px"
        class="mb-lg-9 mb-10"
      />
      <p class="d-none d-lg-block">
        copyright © 2024 LEARNING 課程網站 All Rights Reserved.
      </p>
    </div>
    <div>
      <ul class="text-white d-lg-flex ps-0 footer-nav">
        <li class="mb-7"><a class="text-white" href="#">常見問題</a></li>
        <li class="mb-7">
          <a class="text-white ms-lg-9" href="#">關於我們</a>
        </li>
        <li class="mb-7">
          <a class="text-white ms-lg-9" href="#">隱私權政策</a>
        </li>
        <li><a class="text-white ms-lg-9" href="#">使用者條款</a></li>
      </ul>
      <ul class="d-flex justify-content-lg-end mb-9">
        <li>
          <button class="btn boder border-white text-white">
            <i class="bi bi-line"></i>
          </button>
        </li>
        <li>
          <button class="btn boder border-white text-white mx-5">
            <i class="bi bi-youtube"></i>
          </button>
        </li>
        <li>
          <button class="btn boder border-white text-white">
            <i class="bi bi-facebook"></i>
          </button>
        </li>
      </ul>
      <p class="d-lg-none fs-9">
        copyright © 2024 課程網站 All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
