<header class="container">
  <div class="mt-10">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid px-10 py-5">
        <a class="navbar-brand" href="index.html"
          ><img
            src="/assets/images/logo.png"
            alt="index.html"
            style="width: 200px; height: 32px"
        /></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle mx-7"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                探索全部
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">音樂</a></li>
                <li><a class="dropdown-item" href="#">攝影</a></li>
                <li>
                  <a class="dropdown-item" href="#">程式</a>
                </li>
                <li><a class="dropdown-item" href="#">藝術 </a></li>
                <li><a class="dropdown-item" href="#">人文</a></li>
                <li><a class="dropdown-item" href="#">行銷</a></li>
                <li><a class="dropdown-item" href="#">投資理財</a></li>
                <li><a class="dropdown-item" href="#">心靈成長</a></li>
                <li><a class="dropdown-item" href="#">職場技能</a></li>
                <li><a class="dropdown-item" href="#">生活品味</a></li>
              </ul>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <div class="d-none d-lg-block">
            <form
              role="search"
              class="d-flex position-relative"
              style="width: 425px; height: 64px"
            >
              <input
                class="form-control ps-10"
                type="search"
                placeholder="搜尋各種音樂、數學、程式及設計課程"
                aria-label="Search"
              />
              <span
                class="material-symbols-outlined position-absolute top-50 start-0 translate-middle-y ps-2"
              >
                search
              </span>
              <button
                class="btn position-absolute top-50 end-0 translate-middle-y py-4 px-5 me-2 bg-primary-100 text-neutral-0 fw-semibold"
                type="submit"
              >
                搜尋
              </button>
            </form>
          </div>
        </div>

        <a href="" class="position-relative">
          <span class="material-symbols-outlined text-neutral-80">
            notifications </span
          ><span
            class="position-absolute top-0 start-100 translate-middle badge border rounded-circle bg-primary-100 p-1"
          >
          </span>
        </a>
        <a href="" class="position-relative mx-9">
          <span class="material-symbols-outlined text-neutral-80">
            shopping_cart </span
          ><span
            class="position-absolute top-0 start-100 translate-middle badge border rounded-circle bg-primary-100"
            style="font-size: 12px"
            >2
          </span>
        </a>
        <div class="d-none d-lg-block">
          <a href="#" class="d-flex align-items-center">
            <img
              src="/assets/images/avatar-1.png"
              alt="Jessica"
              style="width: 44px; height: 44px"
              class="me-2"
            />
            <p class="text-neutral-80 fw-bold">Jessica</p>
          </a>
        </div>
        <!-- <button
          class="btn bg-primary-100 text-neutral-0 fw-semibold py-5 px-9"
          type="submit"
        >
          登入 / 註冊
        </button> -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>
</header>
